NODE_ENV=development

APP_PORT=3000

DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=kubera

FORWARD_DB_PORT=3385

FORWARD_TLS_CLIENT_API_PORT=8787
TLS_CLIENT_API_AUTH_KEY=my-auth-key-1
TLS_CLIENT_API_DNS=http://localhost:8787

STEAM_SPY_URL=https://steamspy.com/api.php
STEAM_API_URL=https://api.steampowered.com
STEAM_API_KEY=apikey

STEAM_MAX_GAMES_TO_REQUEST=10000
STEAM_MIN_REVIEW_SCORE=8
STEAM_GLOBAL_TOP_N_SELLERS="100000" # MAX 10000000
#STEAM_REGIONAL_TOP_N_SELLERS="1000000000"

KINGUIN_API_URL=https://gateway.sandbox.kinguin.net
KINGUIN_API_KEY=apikey

MACHING_RECORDS_TO_DISABLE_TOP=700

MAX_GAME_RELEASE_YEARS_AGO=9
ON_CATEGORIES_NUMBER_TO_MATCH_STEAM=1
ON_EMPTY_CATEGORIES_NUMBER_TO_MATCH_STEAM=5
MYSTERY_BOX_MAX_ROLLS=3
MYSTERY_BOX_EXPIRATION_TIME=7200
AMOUNT_TO_GET_2_GAMES=70
MIN_AMOUNT_PERCENTAGE=90
MIN_AMOUNT_PERCENTAGE_FOR_1_GAME=90
MAX_AMOUNT_PERCENTAGE_FOR_SECOND_GAME=90
MIN_AMOUNT_PERCENTAGE_FOR_2_GAMES=30
MIN_GAME_REVIEWS=700