NODE_ENV=development

APP_PORT=3000

DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=kubera

FORWARD_DB_PORT=3385

FORWARD_TLS_CLIENT_API_PORT=8787
TLS_CLIENT_API_AUTH_KEY=my-auth-key-1
TLS_CLIENT_API_DNS=http://localhost:8787

STEAM_SPY_URL=https://steamspy.com/api.php
STEAM_API_URL=https://api.steampowered.com
STEAM_API_KEY=apikey
AMOUNT_TO_GET_2_GAMES=70
MIN_GAME_OWNERS=50000